<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>乐野系统控制台</title>

    <!-- 服务器上
    <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <link href="/static/build/css/custom.min.css" rel="stylesheet">
    <link href="css/shark/shark.css" rel="stylesheet">
    <script src="/static/vendors/shark/angular.min.js"></script>-->
    <!-- 本地 -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <link href="../build/css/custom.min.css" rel="stylesheet">
    <link href="css/shark/shark.css" rel="stylesheet">
    <script src="../vendors/shark/angular.min.js"></script>
</head>

<body class="nav-md" ng-app="sharkApp" ng-controller="sharkCtrl" ng-click="bodyClick()">
<div class="container body">
    <div class="UIKit-loading-view-Login" style="display: none">
        <div class="UIKit-loading-content-login">
            <div class="loginTitle">乐野控制台系统登录</div>
            <div class="loginTxt">登录名：</div>
            <input placeholder="邮箱/手机号/名称" type="text" class="loginInput">
            <div class="loginTxt margin_top_20">登录密码：</div>
            <input placeholder="登录密码" type="password" class="loginInput">
            <button class="btn selectBackCss loginBtnSure margin_top">登录</button>
        </div>
    </div>
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="#" class="site_title" style="background:#272646 ;text-align: center">
                        <!--<i class="fa fa-paw"></i> -->
                        <span>管理控制台</span></a>
                </div>

                <div class="clearfix"></div>
                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>General</h3>-->
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-table"></i> 设备管理 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="remoteCtrl.html">KSHOW远程控制</a></li>
                                    <li><a href="activityKshow.html">活动版远程控制</a></li>
                                    <li><a href="systemPackage.html">系统包</a></li>
                                    <li><a href="resourceBundle.html">资源包</a></li>
                                    <li><a href="labelManagement.html">标签管理</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-tags"></i> 我的记录 <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="systemHistory.html">历史记录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav" ng-model="nickName" ng-cloak>
            <div class="nav_menu" id="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/img.jpg" alt="">{{ nickName }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right" style="width:70px!important">
                                <li><a href="javascript:;" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i>
                                    退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col page_content" role="main" id="right_col">
            <div>
                <div class="clearfix"></div>
                <div class="row" ng-cloak>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel" id="x_panel">
                            <!--<div class="x_title">-->
                            <!--<h3>远程控制 </h3>-->
                            <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                            <div class="x_content">
                                <!--地区检索-->
                                <div class="btn-group btn-group_margin_top">
                                    <button type="button" class="btn selectBackCss select_title" data-toggle="dropdown"
                                            aria-expanded="false">地区检索
                                    </button>
                                    <button type="button" class="btn dropdown-toggle selectBackCss"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu select_menu" role="menu">
                                        <li ng-repeat="x in addressList"><a href="#" class="select_a"
                                        >
                                            <div class="select_a_text">{{ x.info }}</div>
                                            <input
                                                    type="checkbox"
                                                    class="float_r" ng-checked="x.box"
                                                    ng-click="submitSelect($index,'address')"/></a>
                                        </li>
                                        <!--<li class="divider"></li>
                                        <li><a href="#" class="select_li" ng-click="submitSelect('address')">确认</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <!--状态检索-->
                                <div class="btn-group btn-group_margin_top btn-group_margin_top_left">
                                    <button type="button" class="btn selectBackCss select_title" data-toggle="dropdown"
                                            aria-expanded="false">状态检索
                                    </button>
                                    <button type="button" class="btn dropdown-toggle selectBackCss"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu select_menu" role="menu" ng-model="stateList">
                                        <li ng-repeat="x in stateList"><a href="#" class="select_a"
                                        >
                                            <div class="select_a_text">{{ x.info }}</div>
                                            <input
                                                    type="checkbox"
                                                    class="float_r" ng-checked="x.box"
                                                    ng-click="submitSelect($index,'state')"/></a>
                                        </li>
                                        <!--<li class="divider"></li>
                                        <li><a href="#" class="select_li" ng-click="submitSelect('state')">确认</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <!--资源版本号检索-->
                                <div class="btn-group btn-group_margin_top btn-group_margin_top_left">
                                    <button type="button" class="btn selectBackCss select_title" data-toggle="dropdown"
                                            aria-expanded="false">资源版本号
                                    </button>
                                    <button type="button" class="btn dropdown-toggle selectBackCss"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu select_menu" role="menu">
                                        <li ng-repeat="x in resourceList"><a href="#" class="select_a"
                                        >
                                            <div class="select_a_text">{{ x.info }}</div>
                                            <input
                                                    type="checkbox"
                                                    class="float_r" ng-checked="x.box"
                                                    ng-click="submitSelect($index,'resource')"/></a>
                                        </li>
                                        <!--<li class="divider"></li>
                                        <li><a href="#" class="select_li" ng-click="submitSelect('resource')">确认</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <!--系统版本号检索-->
                                <div class="btn-group btn-group_margin_top btn-group_margin_top_left">
                                    <button type="button" class="btn selectBackCss select_title" data-toggle="dropdown"
                                            aria-expanded="false">系统版本号
                                    </button>
                                    <button type="button" class="btn dropdown-toggle selectBackCss"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu select_menu" role="menu">
                                        <li ng-repeat="x in versionList"><a href="#" class="select_a"
                                        >
                                            <div class="select_a_text">{{ x.info }}</div>
                                            <input
                                                    type="checkbox"
                                                    class="float_r" ng-checked="x.box"
                                                    ng-click="submitSelect($index,'version')"/></a>
                                        </li>
                                        <!--<li class="divider"></li>
                                        <li><a href="#" class="select_li" ng-click="submitSelect('version')">确认</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <!--我的标签检索-->
                                <div class="btn-group btn-group_margin_top btn-group_margin_top_left">
                                    <button type="button" class="btn selectBackCss select_title" data-toggle="dropdown"
                                            aria-expanded="false">
                                        我的标签
                                    </button>
                                    <button type="button" class="btn dropdown-toggle selectBackCss"
                                            data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu select_menu" role="menu">
                                        <li ng-repeat="x in signList"><a href="#" class="select_a"
                                        >
                                            <div class="select_a_text">{{ x.info }}</div>
                                            <input
                                                    type="checkbox"
                                                    class="float_r" ng-checked="x.box"
                                                    ng-click="submitSelect($index,'sign')"/></a>
                                        </li>
                                        <!--<li class="divider"></li>
                                        <li><a href="#" class="select_li" ng-click="submitSelect('sign')">确认</a>
                                        </li>-->
                                    </ul>
                                </div>
                                <div class="btn-group select_interval_line"></div>
                                <!--单个搜索-->
                                <div class="btn-group select-simple">
                                    <img src="image/seek.png" class="margin_left_5" ng-click="selectData()"
                                         ng-disabled="selectPress"><input type="text" class="select_input"
                                                                          ng-model="search" ng-trim="true"
                                                                          ng-change="selectChange()" maxlength="15"/>
                                </div>
                                <div class="handle_div">
                                    <div ng-init="totalCount=0" class="handle_num">
                                        {{ totalCount }}
                                    </div>
                                    <button class="btn selectBackCss handle_btn" type="button"
                                            ng-click="popSign($event)">
                                        管理
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button class="handle_excel selectBackCss btn"
                                ng-click="tableToExcel('tablename', 'name', '乐野系统控制台.xls')">导出Excel
                        </button>
                        <!--表格内容-->
                        <div class="x_content table_all" id="table_all">
                            <table id="datatable-fixed-header" class="table table-striped table-bordered"
                                   cellpadding="0"
                                   cellspacing="0">
                                <thead>
                                <tr>
                                    <th id="home_box" class="tablePadding" width="4%"><input type="checkbox"
                                                                                             ng-checked="checkAllInfo"
                                                                                             ng-click="checkAll($event)"
                                                                                             class="select_th_input"/>
                                    </th>
                                    <th class="tablePadding" id="home_id" width="24%">机器编号</th>
                                    <th class="tablePadding" id="home_area" width="24%">地区</th>
                                    <th class="tablePadding" id="home_state" width="24%">状态</th>
                                    <th class="tablePadding" id="home_version" width="24%">版本</th>
                                </tr>
                                </thead>
                                <tr class="none">
                                    <th id="home_box" class="tablePadding" width="4%"><input type="checkbox"
                                                                                             ng-checked="checkAllInfo"
                                                                                             ng-click="checkAll($event)"
                                                                                             class="select_th_input"/>
                                    </th>
                                    <th class="tablePadding" id="home_id" width="24%">机器编号</th>
                                    <th class="tablePadding" id="home_area" width="24%">地区</th>
                                    <th class="tablePadding" id="home_state" width="24%">状态</th>
                                    <th class="tablePadding" id="home_version" width="24%">版本</th>
                                </tr>
                                <tbody>
                                <tr ng-repeat="x in machineInfo" class="trTxt">
                                    <td class="tablePadding vertical_align_input borderLine"><input
                                            type="checkbox"
                                            ng-click="check($index)"
                                            ng-checked="x.box"
                                            class="table_td_input"/>
                                    </td>
                                    <td class="tablePadding vertical_align borderLine"
                                        ng-click="showMidS($index,$event)">{{ x.mid }}
                                    </td>
                                    <td class="tablePadding vertical_align borderLine"
                                        ng-click="showMidS($index,$event)">{{ x.area }}
                                    </td>
                                    <td class="tablePadding vertical_align borderLine"
                                        ng-click="showMidS($index,$event)">
                                        <div
                                                class="{{ x.online==1? 'connect' : 'noConnect'}}"
                                        ></div>
                                        <div class="hintPress" id="hintImg{{$index}}"></div>
                                        <div class="">{{ x.vod_update==1?"升级中":(x.vod_update==0?"升级正常":"升级失败")}}</div>
                                    </td>
                                    <td class="tablePadding vertical_align borderLine"
                                        ng-click="showMidS($index,$event)">{{ x.vod_version }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pageDiv" ng-model="pageInfo" ng-init="pageInfo='1 / 1'">
                                <div class="pageDiv">
                                    <div class="turnPage">
                                        <div class="pagePre" ng-click="prePage()">上一页</div>
                                        <div class="pageInfo">{{ pageInfo }}</div>
                                        <div class="pageNext" ng-click="nextPage()">下一页</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a id="dlink" style="display:none;"></a>
                        <!-- 点击显示mid组 -->
                        <div class="MidSPop" ng-show="popMidS" id="MidSPop" ng-click="MidSPop($event)">
                            <div class="MidSPopCenter">
                                <table class="tableCss" id="midTable">
                                    <tr class="trCsss" ng-repeat="x in MidListPop">
                                        <td width="4%" class="hiddenTD"></td>
                                        <td class="midCss" width="24.5%">
                                            <div class="dotCssS">
                                                <div class="dotCss centerAll">
                                                    <div class="circleDot"></div>
                                                </div>
                                            </div>
                                            <div class="videoTxt">{{ x.mid }}</div>
                                        </td>
                                        <td class="addressCss" width="28.5%">
                                            <div class="dotCssS">
                                                <div class="dotCss centerAll">
                                                    <div class="circleDot"></div>
                                                </div>
                                            </div>
                                            <div class="videoTxt">{{ x.area }}</div>
                                        </td>
                                        <td class="stateCss" width="21.5%">
                                            <div class="dotCssS">
                                                <div class="dotCss centerAll">
                                                    <div class="circleDot"></div>
                                                </div>
                                            </div>
                                            <div class="videoTxt">{{ x.vod_update==1?"升级中":(x.vod_update==0?"升级正常":"升级失败")}}</div>
                                        </td>
                                        <td class="versionCss" width="21.5%">
                                            <div class="dotCssS">
                                                <div class="dotCss centerAll">
                                                    <div class="circleDot"></div>
                                                </div>
                                            </div>
                                            <div class="videoTxt">{{ x.vod_version }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--一级弹框-->
                        <!-- <div class="fullScreen"> -->
                        <div class="popFirst" ng-show="handleDiv" ng-click="popFirstClick($event)">
                            <div class="popFirstTitle">
                                <div class="popFirstDelete" ng-click="hiddenHandle()">
                                </div>
                            </div>
                            <div class="popFirstTitleLine"></div>
                            <div class="popFirstOperation">
                                <!--添加标签-->
                                <div class="popFirstAddDiv">
                                    <div class="btn-group popFirstAdd">
                                        <button type="button" class="btn selectBackCss width_100"
                                                ng-click="secondPopV('sign')">添加标签
                                        </button>
                                    </div>
                                </div>
                                <!--升级-->
                                <div class="popFirstAddDiv">
                                    <div class="btn-group popFirstUpdate">
                                        <button type="button" class="btn selectBackCss width_100" data-toggle="dropdown"
                                                aria-expanded="false">升级
                                        </button>
                                        <button type="button" class="btn selectBackCss dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown_menu_popFirst" role="menu">
                                            <li><a href="#" class="padding_3_10 font" ng-click="secondPopV('server')">系统升级</a>
                                            </li>
                                            <li><a href="#" class="padding_3_10 font"
                                                   ng-click="secondPopV('file')">资源升级</a>
                                            </li>
                                            <!-- <li class="divider"></li>
                                            <li><a href="#" class="popFirstSure" ng-click="submitSelect('address')">确认</a>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="popFirstLine"></div>
                            <!--<div class="popFirstLine margin_top"></div>-->
                            <div class="x_content popFirstTableDiv margin_top">
                                <table id="datatable-buttons1" class="table table-striped  popFirstTable table-bordered"
                                       cellpadding="0" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th class="width_40"></th>
                                        <th id="home_id1" class="padding_30310">
                                            机器编号
                                        </th>
                                        <th id="home_state1" class="padding_3_0 padding_left_10 width_100">
                                            状态
                                        </th>
                                        <th id="home_version1" class="padding_3_0 padding_left_10 width_50">
                                            <!--<div class="popFirstTh"></div>-->
                                            清除
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in handleList" class="padding_3_8">
                                        <td class="width_40 borderLine"></td>
                                        <td class="tableSecondPadding padding_left_10 vertical_align borderLine">
                                            {{ x.mid }}<img
                                                src="{{ x.connect?'image/connect.png':'image/noConnect.png'}}"
                                                class="float_r"/></td>
                                        <td class="tableSecondPadding vertical_align borderLine">
                                            {{ x.vod_update==1?"升级中":(x.vod_update==0?"升级正常":"升级失败")}}
                                        </td>
                                        <td class="tableSecondPadding vertical_align borderLine"
                                            ng-click=deleteItem($index)><img src="image/close.png"
                                                                             class="popFirstTdImg"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <div class="popFirstBottomLine"></div>
                                </table>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <!--二级弹框-->
                <div class="fullScreen" ng-show="secondPop" ng-model="allowPress" ng-cloak>
                    <div id="UIKitLoadingContentC" class="UIKit-loading-contentC" ng-show="secondPopAdd">
                        <div class="popSecondDiv">
                            <div class="popSecondTitle">{{ titleInfo }}</div>
                            <div class="popSecondHidden" ng-click="secondPopHidden()"></div>
                        </div>
                        <div ng-class="{popSecondDivInput: inputV, display_none: inputH}">
                            <!-- <input placeholder="自定义标签" type="text" class="popSecondInput" /> -->
                            <div class="popSecondAdd" ng-click="addSign()"></div>
                            <div class="popSecondSignTxt">自定义标签</div>
                        </div>
                        <div class="gretLine"></div>
                        <div class="popSecondDivRadio">
                            <div class="popSecondRadioItem" ng-repeat="x in popList">
                                <input type="radio" name="sign" class="popSecondRadio" ng-model="$parent.radioVar"
                                       value="{{ x.name }}">
                                <div class="popSecondRadioTxt">{{ x.name }}</div>
                            </div>
                        </div>
                        <div class="popSecondHandle">
                            <button class="btn selectBackCss popSecondBtnSure" ng-disabled="allowPress"
                                    ng-click="handlePopSecond()">确认
                            </button>
                            <button class="btn selectBackCss popSecondBtnCancel" ng-click="secondPopHidden()">取消
                            </button>
                        </div>
                    </div>
                    <!-- 自定义标签弹框 -->
                    <div class="UIKit-contentS" ng-show="secondPopInput">
                        <div class="popSecondDiv">
                            <div class="popSecondTitle">{{ titleInfo }}</div>
                            <div class="popSecondHidden" ng-click="secondPopHidden()"></div>
                        </div>
                        <div class="popSecondDivInput">
                            <div class="popSecondSignChoose">选择：</div>
                            <input placeholder="自定义标签" type="text" class="popSecondInput" ng-model="signInput"
                                   ng-trim="true" ng-change="signChange()" maxlength="15"/>
                        </div>
                        <div class="popSecondHandleBtn">
                            <button class="btn selectBackCss popSecondBtnSure" ng-disabled="allowPress"
                                    ng-click="handlePopSecond('input')">确认
                            </button>
                            <button class="btn selectBackCss popSecondBtnCancel" ng-click="secondPopHidden('back')">取消
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 服务器上
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>

<script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/static/vendors/fastclick/lib/fastclick.js"></script>

<script src="/static/vendors/nprogress/nprogress.js"></script>

<script src="/static/vendors/iCheck/icheck.min.js"></script>

<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

<script src="/static/build/js/custom.js"></script>
<script src="/static/js/shark/util.js"></script>
<script src="/static/js/shark/hmac-sha1.js"></script>
<script src="/static/js/shark/activityKshow.js"></script>
 -->
<!--<script src="/static/js/shark/dataText.js"></script>
<script src="/static/js/shark/Base64.js"></script>-->
<!-- 本地 -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>

<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../vendors/fastclick/lib/fastclick.js"></script>

<script src="../vendors/nprogress/nprogress.js"></script>

<script src="../vendors/iCheck/icheck.min.js"></script>

<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>
<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="../build/js/custom.js"></script>
<script src="js/shark/util.js"></script>
<script src="js/shark/hmac-sha1.js"></script>
<script src="js/shark/activityKshow.js"></script>
<!--<script src="js/shark/dataText.js"></script>
<script src="js/shark/Base64.js"></script>-->
</body>

</html>
