/*---------------------------------------------难度设置css----------------------------*/
.rangeSet {
    width: 90%;
    height: auto;
    padding-left: 80px;
    padding-top: 160px;
}

.scoreTitle {
    width: 100%;
    font-size: 20px;
    color: #247CFE;
    margin-left: 10px;
    font-weight: 600;
}

.rangeDiv {
    width: 80%;
    height: auto;
    margin-left: 15px;
    margin-right: 30px;
    padding-top: 40px;
    overflow: auto;
}

.rangeLeftDiv {
    width: auto;
    height: 40px;
    float: left;
    margin-left: 40px;
}

.rangeLeft {
    width: 50px;
    font-size: 10px;
    color: #247CFE;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid lightgrey;
}

.titleLeft {
    width: auto;
    height: 15px;
    margin-top: 7px;
}

.hintTitleLeft {
    width: auto;
    height: 10px;
    line-height: 10px;
    font-size: 6px;
    color: black;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.blueDiv {
    width: 10px;
    height: 10px;
    background-color: #059CFA;
    float: left;
}

.lightBlueDiv {
    width: 10px;
    height: 10px;
    background-color: #C6DFFD;
    float: left;
}

.rangeDivCss {
    float: left;
    background-color: #C6DFFD;
    margin-left: 8px;
}

.rangeDivCssSecond {
    width: 55%;
    height: 30px;
    float: left;
}

.rangeInput {
    width: 100%;
    height: 18px;
}

.numleft {
    width: auto;
    font-size: 6px;
    float: left;
    margin-right: 3px;
    position: absolute;
}

.numright {
    width: auto;
    font-size: 6px;
    float: left;
    margin-left: 3px;
}

.rangeInputDiv {
    float: left;
    background-color: #DDDBDC;
    margin-top: 2px;
}

.tableDetail {
    width: 60%;
    height: auto;
    margin-top: 50px;
    BORDER-bottom: none !important;
    BORDER-left: none !important;
    BORDER-right: none !important;
}

.tableTH {
    height: 40px;
    padding-left: 30px;
    background-color: #F5F5F5;
}

.tableTR {
    padding-left: 40px;
    background-color: #E9E9E9;
    padding-bottom: 2px;
    padding-top: 2px;
}

.tableTRSecond {
    padding-left: 40px;
    background-color: #F5F5F5;
    padding-bottom: 2px;
    padding-top: 2px;
}

.submitScore {
    width: 150px;
    height: 40px;
    background-color: #3C84FC;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    float: left;
}

.progressDivScore {
    width: 100%;
    height: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.rangeDivCSS {
    width: 600px;
    height: 10px;
    position: relative;
    float: left;
    margin-top: 2px
}

.rangeDivBack {
    width: 100%;
    height: 10px;
    background-color: #DDDBDC;
    position: absolute
}
.rangeDivSongBack {
    width: 100%;
    height: 10px;
    background-color: #C6DFFD;
    position: absolute
}
.rangeDivLine {
    width: 0%;
    height: 10px;
    background-color: #00ADED;
    position: absolute
}

.rangeMove {
    width: 15px;
    height: 30px;
    position: absolute;
    left: -7px;
    background: url('range1.png') no-repeat center;
    background-size: 100% 100%;
    margin-top: -10px
}


/*---------------------------------------------难度设置css----------------------------*/
.progressInfoS {
    width: 100%;
    height: 20px;
}

.progressInfoCss {
    width: 100%;
    height: 100%;
}

.progressInfo {
    width: 60%;
    height: 100%;
    float: left;
}

.progressInfoScore {
    width: 60%;
    height: 100%;
    float: left;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.progressDiv {
    width: 100%;
    height: 40px;
    margin-top: 100px;

}

.progressCss {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.progressHint {
    width: auto;
    height: 20px;
    line-height: 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    float: left;
    margin-left: 20px;
}

.progressNum {
    display: inline-block;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.progress {
    width: 0%;
    height: 20px;
    background: #6aa6ff;
    margin-top: 0px !important;
}

.progressParent {
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background-color: #C9DDFF;
    overflow: hidden;
    position: relative;
    float: left;

}

.popHint {
    width: 80%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 250px;
    color: white;
    font-size: 30px;
}

.pop {
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subCss {
    width: 50%;
    height: 30px;
    margin-top: 50px;
}

.subDiv {
    margin: 0px auto;
    width: 150px;
    height: 30px;
}

.submit {
    width: 150px;
    height: 40px;
    background-color: #3C84FC;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    float: left;
}

.fileCss {
    width: 70%;
    height: 30px;
    float: right;
    margin-right: 20px;
}

.fileName {
    width: 30%;
    height: 30px;
    line-height: 30px;
    color: black;
    font-size: 20px;
    float: left !important;
    font-weight: 500;
    margin-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: right !important;
}

.hintInfo {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: lightgrey;
    font-size: 20px;
    float: left !important;
    margin-left: 30px;
}

.margin_top {
    margin-top: 100px;
}

.chooseVideo {
    width: 100px;
    height: 40px;
    float: left !important;
    margin-left: 20px;
}

.centerAll {
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Chrome, and Opera */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.upinput {
}

.title {
    width: 100%;
    height: 80px;
    background-color: #E34254;
}

.kshowImg {
    width: auto;
    height: 100%;
    float: left;
}

.titleTxt {
    width: 60%;
    height: 100%;
    line-height: 80px;
    color: white;
    font-size: 28px;
    background-color: #E34254;
    float: left;
    padding-left: 25px;
    letter-spacing: 3px;
}

.resourceDetail {
    width: 90%;
    height: 60%;
    padding-left: 80px;
    padding-top: 160px;
}

.videoCss {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.dotCssS {
    width: 30px;
    height: 30px;
    float: left !important;
}

.dotCss {
    width: 30px;
    height: 30px;
}

.circleDot {
    content: "";
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;

}

.videoTxt {
    width: auto;
    height: 30px;
    line-height: 30px;
    color: black;
    font-size: 20px;
    float: left !important;
    font-weight: 600;
    margin-left: 10px;
}

.file {
    width: 100px;
    text-align: center;
    position: relative;
    display: inline-block;
    background: #3C84FC;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #3C84FC;
    border-color: #78C3F3;
    color: white;
    text-decoration: none;
}

/*  bootstrap按钮样式*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none
}

/* bootstrap按钮样式*/
/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}