/*共有属性*/
.none {
    display: none !important;
}

.handle_excel {
    width: 100px;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: -2px;
}

.dataTables_empty {
    display: none !important;
}

.connectTxt {
    float: left;
}

.trTxt {
    font-size: 12px;
}

.connect {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("../../image/connect.png") no-repeat center;
    background-size: 100% 100%;
}

.noConnect {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("../../image/noConnect.png") no-repeat center;
    background-size: 100% 100%;
}

.centerDiv {
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Chrome, and Opera */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.chooseItem {
    background-color: red !important;
}

/*.UIKit-loading-viewC{*/

/*position: absolute;*/

/*z-index: 999;*/

/*top: 0px;*/

/*width: 100%;*/

/*height: 100%;*/

/*transition: all .3s ease-in-out;*/

/*visibility: hidden;*/

/*opacity: 1;*/

/*display: flex;*/

/*align-items: center;*/

/*justify-content: center;*/

/*}*/

/*登录页面*/

.UIKit-loading-view-Login {
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.UIKit-loading-content-login {
    width: 350px;
    height: 450px;
    /*background-color: rgba(0, 0, 0, 0.4);
      border-radius: 16px;*/
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    /*text-align: center;*/
    /*line-height: 300px;*/
    color: white;
    position: absolute;
    visibility: visible;
    z-index: 100;
    top: 30%;
    left: 40%;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: -140px;
}

.loginTitle {
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 18px;
    color: #22add0;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}

.loginTxt {
    width: 100%;
    height: auto;
    color: black;
    font-size: 15px;
}

.loginInput {
    width: 100%;
    height: 40px;
    padding: 10px;
    color: black;
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.loginBtnSure {
    width: 100%;
    height: 40px;
    display: inline-block;
    background: #11c5e0 !important;
    box-shadow: none;
    color: white !important;
    text-align: center;
}

/*登录页面*/

.UIKit-loading-contentC {
    width: 300px;
    height: auto;
    max-height: 400px;
    /*background-color: rgba(0, 0, 0, 0.4);
      border-radius: 16px;*/
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    /*text-align: center;*/
    /*line-height: 300px;*/
    color: white;
    position: absolute;
    visibility: visible;
    z-index: 100;
    top: 30%;
    left: 40%;
}

.selectBackCss {
    background: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

/*table, th , td  {*/

/*border: 1px solid grey;*/

/*border-collapse: collapse;*/

/*padding: 5px;*/

/*}*/

table tr:nth-child(odd) {
    background-color: #f5f5f7 !important;
}

table tr:nth-child(even) {
    background-color: #ffffff !important;
}

.tablePadding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.tableSecondPadding {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.borderLine {
    BORDER-top: none !important;
    BORDER-bottom: none !important;
    BORDER-left: none !important;
    BORDER-right: none !important;
}

/*共有属性*/

.float_r {
    float: right;
}

/*最外层样式*/

.page_content {
    min-height: 700px
}

/*检索*/
.select_a {
    min-width: 200px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0px;
    font-size: 14px;
}

.select_menu {
    min-width: 200px;
    overflow-y: scroll;
    height: auto;
    max-height: 200px
}

.select_li {
    text-align: center;
    vertical-align: middle;
    margin-top: -7px;
    font-size: 15px
}

.btn-group_margin_top {
    margin-top: 30px
}

.btn-group_margin_top_left {
    margin-left: 5px
}

.select_title {
    width: 150px;
}

.select_a_text {
    width: 130px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0px;
    font-size: 14px;
}

.select_a_long_text {
    width: 200px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0px;
    font-size: 14px;
}

.select_interval_line {
    margin-top: 30px;
    height: 35px;
    background: lightgrey;
    width: 1px;
    margin-left: 55px;
    margin-right: 25px
}

.select-simple {
    margin-top: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5.5px;
    width: 300px
}

.margin_left_5 {
    margin-left: 5px
}

.select_input {
    border: none;
    margin-left: 10px;
    overflow: hidden;
    width: 250px
}

/*管理*/

.handle_div {
    width: auto;
    height: auto;
    float: right
}

.handle_num {
    background: url("../../image/bigpop.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100px;
    height: 30px;
    /*padding-left: 13px;*/
    /*padding-top: 4px;*/
    line-height: 30px;
    text-align: center;
    padding-left: -25px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-right: -5px;
    margin-bottom: -10px
}

.handle_btn {
    margin-top: 30px;
    float: right;
    width: 100px
}

/*表格内容*/

.table_all {
    height: 853px;
    /*overflow-y: scroll*/
}

.width_30 {
    width: 30px;
}

.select_th_input {
    width: 15px;
    height: 15px;
    margin-left: 35% !important;
}

.vertical_align_input {
    vertical-align: middle !important;
}

.vertical_align_state {
    vertical-align: middle !important;
    padding-left: 25px !important;
}

.vertical_align_version {
    vertical-align: middle !important;
    padding-left: 30px !important;
}

.vertical_align {
    vertical-align: middle !important;
    padding-left: 20px !important;
}

.table_td_input {
    width: 15px;
    height: 15px;
    margin-left: 35% !important;
}

.margin_right_10 {
    margin-right: 10px
}

/*二级弹框*/

.fullScreen {
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
}

.UIKit-contentS {
    width: 280px;
    height: 250px;
    /*background-color: rgba(0, 0, 0, 0.4);
      border-radius: 16px;*/
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    /*text-align: center;*/
    /*line-height: 300px;*/
    color: white;
    position: absolute;
    visibility: visible;
    z-index: 100;
    top: 30%;
    left: 40%;
}

.popFirst {
    width: 400px;
    height: 750px;
    z-index: 10;
    position: absolute;
    right: 20px;
    margin-top: -20px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    visibility: visible
}

.popFirstTitle {
    width: 100%;
    height: 50px;
    position: relative
}

.popFirstDelete {
    width: 50px;
    height: 50px;
    background: url('../../image/close.png') no-repeat center;
    top: 50%;
    margin-top: -25px;
    position: absolute;
    right: 0px
}

.popFirstTitleLine {
    width: 100%;
    height: 1px;
    background: lightgrey
}

.popFirstOperation {
    width: 100%;
    height: 60px;
}

.gretLine {
    width: 100%;
    height: 1px;
    background: lightgrey;
}

.popFirstAddDiv {
    width: 49%;
    height: 100%;
    position: relative;
    display: inline-block
}

.popFirstAdd {
    top: 50%;
    margin-top: -17px;
    position: absolute;
    right: 5px
}

.width_100 {
    width: 100px;
}

.dropdown_menu_popFirst {
    width: 125px;
    /*overflow-y: scroll;*/
    height: auto;
    max-height: 200px;
    min-width: 80px;
}

.font {
    font-size: 15px
}

.padding_3_10 {
    padding: 3px 10px;
}

.popFirstSure {
    text-align: center;
    vertical-align: middle;
    margin-top: -7px;
    font-size: 15px
}

.popFirstUpdate {
    top: 50%;
    margin-top: -17px;
    position: absolute;
    left: 15px
}

.popFirstLine {
    width: 100%;
    height: 1px;
    background: lightgrey
}

.margin_top {
    margin-top: 40px !important;
}

.popFirstTableDiv {
    padding: 0px 0px;
    margin-top: 0px;
    height: 595px;
    overflow-y: scroll
}

.popFirstTable {
    border-bottom: none;
    width: 100%;
}

/*.popFirstTh{*/

/*width: 1px;height: 25px;margin-top:-4px;margin-bottom:-8px;margin-right:7px;background: lightgrey;display: inline-block*/

/*}*/

/*.margin_left_-7{*/

/*margin-left:-7px;*/

/*}*/

.padding_30310 {
    padding: 3px 0px 3px 10px !important;
}

.padding_0_8 {
    padding: 0px 8px !important;
}

.padding_3_0 {
    padding: 3px 0px !important;
}

.padding_3_8 {
    padding: 3px 8px
}

.padding_left_10 {
    padding-left: 10px !important;
}

.popFirstTdImg {
    margin-right: 10px;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background: url("../../image/close.png") no-repeat center;
    background-size: 100% 100%;
}

.width_150 {
    width: 150px;
}

.popFirstTdDelete {
    width: 20px;
}

.width_50 {
    width: 50px;
}

.width_40 {
    width: 40px;
}

.popFirstBottomLine {
    width: 100%;
    height: 1px
}

/*远程控制-二级弹框*/

.popSecondDiv {
    width: 100%;
    height: 45px;
    background: #f5f5f7;
}

.popSecondTitle {
    width: auto;
    height: 100%;
    font-size: 22px;
    color: black;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 20px;
    line-height: 45px;
    display: inline-block;
}

.popSecondHidden {
    width: 50px;
    height: 100%;
    background: url("../../image/close.png") no-repeat center;
    display: inline-block;
    float: right;
}

.popSecondDivInput {
    width: 100%;
    height: 30px;
    padding: 0px 20px;
    margin: 5px 0px;
    display: inline-block;
    overflow: hidden;
}

.popSecondAdd {
    width: 30px;
    height: 30px;
    background: url("../../image/add.png") no-repeat center;
    float: left;
}

.popSecondSignTxt {
    width: auto;
    color: black;
    font-size: 15px;
    line-height: 30px;
}

.popSecondHandleBtn {
    width: 100%;
    height: 52px;
    padding: 10px 30px;
    border-top: 1px solid lightgray;
    margin-top: 100px;
}

.popSecondSignChoose {
    width: auto;
    color: black;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.popSecondInput {
    width: 70%;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 0px 10px;
    margin: 1px;
    color: black;
    display: inline-block;
}

.popSecondDivRadio {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    max-height: 260px;
}

.popSecondRadioItem {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid lightgray;
    padding: 0px 20px;
}

.popSecondRadio {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px !important;
}

.popSecondRadioTxt {
    color: black;
    display: inline-block;
    width: 70%;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
}

.popSecondHandle {
    width: 100%;
    height: 52px;
    padding: 10px 30px;
    border-top: 1px solid lightgray;
}

.popSecondBtnSure {
    width: 80px;
    height: 30px;
    float: left;
    display: inline-block;
    background: #11c5e0;
    box-shadow: none;
    color: white !important;
    text-align: center;
}

.popSecondBtnCancel {
    width: 80px;
    height: 30px;
    color: black;
    float: right;
    display: inline-block;
}

/*--------------------------------------------------------------------远程控制界面CSS------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------标签管理界面CSS------------------------------------------------------------------------------------*/

/*标签管理界面CSS*/

.margin_left_30 {
    margin-left: 30px;
}

.deleteSignDiv {
    width: 35px;
    height: 100%;
    float: right;
    border-radius: 5px;
    background-color: #e5e7ec;
    text-align: center;
}

.paddingSelect_a {
    padding: 5px 7px !important;
}

.deleteSignSureDiv {
    width: 350px;
    height: 220px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    visibility: visible;
    z-index: 999;
    top: 30%;
    left: 40%;
}

.deleteSignSureTxt {
    width: 100%;
    line-height: 120px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.deleteSignHandleDiv {
    width: 100%;
    padding: 20px 60px;
}

/*我的记录*/

.width_auto {
    width: auto;
}

.selectHistoryTxt {
    width: auto;
    margin-left: 10px;
    display: inline-block;
}

.margin_left_0 {
    margin-left: 0px;
}

.display_none {
    display: none !important;
}

/*表格CSS*/

.pageDiv {
    width: 100%;
    height: 30px;
    border: 1px solid lightgray;
    BORDER-bottom: none !important;
    BORDER-left: none !important;
    BORDER-right: none !important;
}

.turnPage {
    width: 200px;
    height: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
    position: absolute;
    /*border-radius: 3px;*/
    /*border: 1px solid lightgrey;*/
    display: inline-block;
}

.pagePre {
    display: inline-block;
    width: 31%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.pageInfo {
    display: inline-block;
    width: 32%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.pageNext {
    display: inline-block;
    width: 31%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/*mid弹窗*/
.MidSPop {
    width: 100%;
    /*height: 200px;*/
    background: rgba(0, 0, 0, 0);
    z-index: 200;
    position: absolute;
}

.MidSPopCenter {
    width: 95%;
    /*height: 100%;*/
    margin-left: 20px;
    margin-right: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
}

.tableCss {
    table-layout: fixed;
    width: 100%;
    height: auto;
}

.trCsss {
    width: 100%;
    height: auto;
    padding-left: 60px;
}

.hiddenTD {
    height: 100%;

}

.midCss {
    /*width: 23% !important;*/
    /*height: 20px;*/
}

.addressCss {
    /*width: 23% !important;*/
    /*height: 20px;*/
}

.stateCss {
    /*width: 23% !important;*/
    /*height: 20px;*/
}

.versionCss {
    /*width: 23% !important;*/
    /*height: 20px;*/
}

.dotCssS {
    width: 25px;
    height: 25px;
    float: left !important;
}

.dotCss {
    width: 25px;
    height: 25px;
}

.centerAll {
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari, Chrome, and Opera */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
}

.circleDot {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #3BC5ED;
    border-radius: 50%;

}

.videoTxt {
    width: auto;
    line-height: 25px;
    color: black;
    float: left !important;
}

.hintPress {
    margin-left: 10px;
    margin-right: 5px;
    background: url("../../image/hintPress.png") no-repeat center;
    background-size: 100% 100%;
    width: 14px;
    height: 14px;
    float: left;
}
























