.wx-menu {
    position: fixed;
    display: table;
    table-layout: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 49px;
    background: $color-white;
    z-index: $index-menu;
    @include physical-border-top(#c0c0c0);

    .wx-item {
        @include oneline(49px, 16px, $color-main);
        display: table-cell;
        text-align: center;

        &:not(:first-child) {
            @include physical-border-left(#c0c0c0);
        }
    }
}
