.title {
    width: 100%;
    height: auto;
}

.theadCss {
    width: 100%;
    height: 250px;
    position: fixed;
}

.dotCss {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    float: left;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 5px;
}

.back_color_y {
    background-color: #F49A01;
}

.back_color_b {
    background-color: #019EFF;
}

.back_color_g {
    background-color: #14AF85;
}

.thCss {
    font-size: 20px;
    color: #56BBE0;
    height: 100px;
    text-align: center;
    padding-bottom: 20px !important;
    line-height: 100px;
}

.borderLine {
    BORDER-top: none !important;
    BORDER-bottom: none !important;
    BORDER-left: none !important;
    BORDER-right: none !important;
    text-align: center;
}

.borderLine_bottom {
    BORDER-top: none !important;
    BORDER-left: none !important;
    BORDER-right: none !important;
}

.tableTitle {
    height: 50px;
    margin-left: 150px !important;
}
